section.navbar
  .container
    .navbar__logo
      a(href="#") Brand

    .navbar__menu
      a(href="#") Home
      a(href="#") Insight
      a(href="#") Services
      a(href="#") Contact
      a.btn(href="#") Let's Talk!

    button.navbar__toggle(type="button" aria-label="Toggle Menu")
      span
      span
      span
